@media screen and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .todo-list {
        padding: 0;
        margin: 1rem;
        width: 100%;
    }

    .task-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .task-form {
        padding: 0;
    }

    .task-text {
        font-size: 0.7rem;
        width: 50vw;
        height: 1.4rem;
    }

    .task-list {
        padding: 0 2rem;
    }

    .task-left {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }

    .task-list-ckb {
        margin-right: 0.7rem;

    }

    .btn-delete {
        display: none;
    }

    .btn-edit {
        display: none;
    }

    .btn-x {
        display: block;
        padding: 0.3rem 0.4rem;
        border-radius: 10px;
        border: none;
    }

    .btn-x:hover {
        background-color: rgb(132, 132, 255);
    }
}